.movie-card {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.movie-card:hover {
  transform: scale(1.05); /* تكبير بسيط */
  box-shadow: 0 10px 20px rgba(0,0,0,0.3); /* ظل */
}

.movie-card img {
  transition: transform 0.4s ease;
}

.movie-card:hover img {
  transform: scale(1.1); /* الصورة تكبر شوية */
}
